# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# Environments 
.env 

# Python # 
*.py[cod] 
*$py.class 



# Visual Studio Code # 
.vscode/* 
/accounts/migrations
/bistro/migrations
